doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(href="css/ratchet.min.css", rel="stylesheet")
    if (ios)
      link(href="css/ratchet-theme-ios.min.css", rel="stylesheet")
    if (android)
      link(href="css/ratchet-theme-android.min.css", rel="stylesheet")
    link(href="css/retroflection.css", rel="stylesheet")
    script(src="js/lodash.min.js")
    script(src="js/ratchet.min.js")
    script(src="js/angular.min.js")
    script(src="js/angular-animate.min.js")
    script(src="js/angular-touch.min.js")
    script(src="js/angular-ui-router.js")
    script(src="js/helpers.js")
    script(src="js/questionstore.js")
    script(src="js/app-routing.js")
  body(ng-app="retroflection")
    div(ui-view)
