extends layout

block title
  | Question Overview

block content
  div(data-role="header")
    h1 Questions
  div(data-role="content")
    ul(data-role="listview", data-filter="true", data-filter-placeholder="Id...")
      for question in questions
        li: a(href="#{question.id}/edit") #{question.id}
