.table-view {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.question {
    position: absolute;
    margin-right: 20px;
    top: 80px;
    left: 20px;
}

.author {
    position: absolute;
    bottom: 50px;
    right: 10px;
}

.dummy22 {
    margin-bottom: 22px;
}

.dummy40 {
    margin-bottom: 40px;
}

.retro-left-enter, .retro-left-leave, .retro-left-appear, .retro-right-enter, .retro-right-leave, .retro-right-appear {
    -webkit-transition: left 300ms ease-out;
    -moz-transition: left 300ms ease-out;
    -ms-transition: left 300ms ease-out;
    -o-transition: left 300ms ease-out;
    transition: left 300ms ease-out;
}

.retro-left-enter, .retro-left-appear, .retro-right-leave.retro-right-leave-active {
    left: -100%;
    width: 100%;
}

.retro-left-enter.retro-left-enter-active, .retro-left-appear.retro-left-appear-active, .retro-right-enter.retro-right-enter-active, .retro-right-appear.retro-right-appear-active {
    left: 0;
    width: 100%;
}

.retro-left-leave.retro-left-leave-active, .retro-right-enter, .retro-right-appear {
    left: 200%;
    width: 100%;
}

.bar-tab {
    top: auto;
    bottom: 0;
}

.content {
    padding-bottom: 50px;
}

.standard-enter, .standard-appear {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.standard-enter.standard-enter-active, .standard-appear.standard-appear-active {
    opacity: 1;
}

.standard-leave {
    opacity: 1;
    transition: opacity .2s ease-in;
}

.standard-leave.standard-leave-active {
    opacity: 0;
}

