.ui-content {
    margin-top: 35px;
}

.question {
    position: absolute;
    margin-right: 20px;
    top: 80px;
    left: 20px;
}

.author {
    position: absolute;
    bottom: 50px;
    right: 10px;
}

.emaillink {
    margin: 10px;
    text-align: right;
    margin-bottom: 10px;
}

.about {
    margin: 15px;
    margin-top: 42px;
}

.mailbutton {
    padding-top: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: .5em;
    text-align: right;
    float: right;
}

.ui-li-aside {
    float: right;
    width: 10%;
    text-align: right;
    margin-top: 0;
}

