.ui-content {
    margin-top: 35px;
}

.table-view {
    margin-bottom: 0!important;
    margin-top: 0!important;
}

.question {
    position: absolute;
    margin-right: 20px;
    top: 80px;
    left: 20px;
}

.author {
    position: absolute;
    bottom: 50px;
    right: 10px;
}

.slide-enter,
.slide-leave {
    -webkit-transition: 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000) all;
    -moz-transition: 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000) all;
    -ms-transition: 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000) all;
    -o-transition: 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000) all;
    transition: 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000) all;
}

.slide-enter {
    left: 100%;
}

.slide-enter.slide-enter-active {
    left: 0px;
}

.slide-leave {
}

.slide-leave.slide-leave-active {
    left: -200px;
}
