#content {
    text-align: center;
	margin-top: 4em;
}

#footer {
	position: absolute;
	bottom: 0;
}
#footer .ui-btn-inner {
	height: 4em;
	padding-top: 2em;
}

#contrib li {
	list-style-type: none;
	height: 1.5em;
}
